# DataBase Import

In [8]:
import pandas as pd
data = pd.read_excel(r'./../data/Online Retail.xlsx')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France



# Data PreProcessing

In [7]:
#data preprocessing

#filering for required columns
data = data.drop(columns =['Description','Quantity','UnitPrice','CustomerID'])

#cleaning row for dropping missing values
data.dropna(axis=0,subset=['InvoiceNo','StockCode','Country'],inplace=True)

#converting columns types to str
data['InvoiceNo']= data['InvoiceNo'].astype('str')
data['StockCode']= data['StockCode'].astype('str')

#drop all the rows which are with credit in invoiceno
data = data[~data['InvoiceNo'].str.contains('C')]
data

       InvoiceNo StockCode         InvoiceDate         Country
0         536365    85123A 2010-12-01 08:26:00  United Kingdom
1         536365     71053 2010-12-01 08:26:00  United Kingdom
2         536365    84406B 2010-12-01 08:26:00  United Kingdom
3         536365    84029G 2010-12-01 08:26:00  United Kingdom
4         536365    84029E 2010-12-01 08:26:00  United Kingdom
...          ...       ...                 ...             ...
541904    581587     22613 2011-12-09 12:50:00          France
541905    581587     22899 2011-12-09 12:50:00          France
541906    581587     23254 2011-12-09 12:50:00          France
541907    581587     23255 2011-12-09 12:50:00          France
541908    581587     22138 2011-12-09 12:50:00          France

[532621 rows x 4 columns]

# Country Bucket

In [9]:
#country names
countries = []
countries = list(data["Country"].unique())

#country bucket
country_bucket = []
for country in countries:
	country_bucket.append(data[data["Country"] == country])

country_bucket

[       InvoiceNo StockCode         InvoiceDate         Country
 0         536365    85123A 2010-12-01 08:26:00  United Kingdom
 1         536365     71053 2010-12-01 08:26:00  United Kingdom
 2         536365    84406B 2010-12-01 08:26:00  United Kingdom
 3         536365    84029G 2010-12-01 08:26:00  United Kingdom
 4         536365    84029E 2010-12-01 08:26:00  United Kingdom
 ...          ...       ...                 ...             ...
 541889    581585     22466 2011-12-09 12:31:00  United Kingdom
 541890    581586     22061 2011-12-09 12:49:00  United Kingdom
 541891    581586     23275 2011-12-09 12:49:00  United Kingdom
 541892    581586     21217 2011-12-09 12:49:00  United Kingdom
 541893    581586     20685 2011-12-09 12:49:00  United Kingdom

 [487622 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 26        536370     22728 2010-12-01 08:45:00  France
 27        536370     22727 2010-12-01 08:45:00  France
 28        536370     22726 2010-12-01 08:45:00  France
 29        536370     21724 2010-12-01 08:45:00  France
 30        536370     21883 2010-12-01 08:45:00  France
 ...          ...       ...                 ...     ...
 541904    581587     22613 2011-12-09 12:50:00  France
 541905    581587     22899 2011-12-09 12:50:00  France
 541906    581587     23254 2011-12-09 12:50:00  France
 541907    581587     23255 2011-12-09 12:50:00  France
 541908    581587     22138 2011-12-09 12:50:00  France

 [8408 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate    Country
 197       536389     22941 2010-12-01 10:03:00  Australia
 198       536389     21622 2010-12-01 10:03:00  Australia
 199       536389     21791 2010-12-01 10:03:00  Australia
 200       536389    35004C 2010-12-01 10:03:00  Australia
 201       536389    35004G 2010-12-01 10:03:00  Australia
 ...          ...       ...                 ...        ...
 497681    578459     22086 2011-11-24 12:30:00  Australia
 497682    578459     22340 2011-11-24 12:30:00  Australia
 497683    578459     22576 2011-11-24 12:30:00  Australia
 497684    578459     22580 2011-11-24 12:30:00  Australia
 497685    578459     22669 2011-11-24 12:30:00  Australia

 [1185 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate      Country
 385       536403     22867 2010-12-01 11:27:00  Netherlands
 386       536403      POST 2010-12-01 11:27:00  Netherlands
 37952     539491     21981 2010-12-20 10:09:00  Netherlands
 37953     539491     21986 2010-12-20 10:09:00  Netherlands
 37954     539491     22720 2010-12-20 10:09:00  Netherlands
 ...          ...       ...                 ...          ...
 534958    581176     22908 2011-12-07 15:19:00  Netherlands
 534959    581176     22907 2011-12-07 15:19:00  Netherlands
 534960    581176     22029 2011-12-07 15:19:00  Netherlands
 534961    581176     22712 2011-12-07 15:19:00  Netherlands
 537783    581338     23344 2011-12-08 12:12:00  Netherlands

 [2363 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 1109      536527     22809 2010-12-01 13:04:00  Germany
 1110      536527     84347 2010-12-01 13:04:00  Germany
 1111      536527     84945 2010-12-01 13:04:00  Germany
 1112      536527     22242 2010-12-01 13:04:00  Germany
 1113      536527     22244 2010-12-01 13:04:00  Germany
 ...          ...       ...                 ...      ...
 541801    581578     22993 2011-12-09 12:16:00  Germany
 541802    581578     22907 2011-12-09 12:16:00  Germany
 541803    581578     22908 2011-12-09 12:16:00  Germany
 541804    581578     23215 2011-12-09 12:16:00  Germany
 541805    581578     22736 2011-12-09 12:16:00  Germany

 [9042 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 1236      536532     84692 2010-12-01 13:24:00  Norway
 1237      536532     22444 2010-12-01 13:24:00  Norway
 1238      536532     22899 2010-12-01 13:24:00  Norway
 1239      536532     21156 2010-12-01 13:24:00  Norway
 1240      536532     22556 2010-12-01 13:24:00  Norway
 ...          ...       ...                 ...     ...
 540357    581476     23358 2011-12-09 08:48:00  Norway
 540358    581476     23293 2011-12-09 08:48:00  Norway
 540359    581476     23243 2011-12-09 08:48:00  Norway
 540360    581476     23240 2011-12-09 08:48:00  Norway
 540450    581491     23571 2011-12-09 10:02:00  Norway

 [1072 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 1404      536540     22968 2010-12-01 14:05:00    EIRE
 1405      536540    85071A 2010-12-01 14:05:00    EIRE
 1406      536540    85071C 2010-12-01 14:05:00    EIRE
 1407      536540     22355 2010-12-01 14:05:00    EIRE
 1408      536540     21579 2010-12-01 14:05:00    EIRE
 ...          ...       ...                 ...     ...
 539151    581433     22192 2011-12-08 15:54:00    EIRE
 539152    581433     48187 2011-12-08 15:54:00    EIRE
 539153    581433     48184 2011-12-08 15:54:00    EIRE
 539154    581433     20685 2011-12-08 15:54:00    EIRE
 539155    581433    79302M 2011-12-08 15:54:00    EIRE

 [7894 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate      Country
 5320      536858     22326 2010-12-03 10:36:00  Switzerland
 5321      536858     22554 2010-12-03 10:36:00  Switzerland
 5322      536858     21731 2010-12-03 10:36:00  Switzerland
 5323      536858     20677 2010-12-03 10:36:00  Switzerland
 5324      536858     20750 2010-12-03 10:36:00  Switzerland
 ...          ...       ...                 ...          ...
 508666    579259     22915 2011-11-29 08:40:00  Switzerland
 508667    579259     23178 2011-11-29 08:40:00  Switzerland
 508668    579259     23180 2011-11-29 08:40:00  Switzerland
 508669    579259     23079 2011-11-29 08:40:00  Switzerland
 508670    579259      POST 2011-11-29 08:40:00  Switzerland

 [1967 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 6421      536944     22383 2010-12-03 12:20:00   Spain
 6422      536944     22384 2010-12-03 12:20:00   Spain
 6423      536944     20727 2010-12-03 12:20:00   Spain
 6424      536944     20725 2010-12-03 12:20:00   Spain
 6425      536944     20728 2010-12-03 12:20:00   Spain
 ...          ...       ...                 ...     ...
 535271    581193     23291 2011-12-07 17:05:00   Spain
 535272    581193    85232D 2011-12-07 17:05:00   Spain
 535273    581193     22721 2011-12-07 17:05:00   Spain
 535274    581193     23241 2011-12-07 17:05:00   Spain
 535275    581193     23247 2011-12-07 17:05:00   Spain

 [2485 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 6608      536971     21733 2010-12-03 13:40:00  Poland
 6609      536971     21232 2010-12-03 13:40:00  Poland
 6610      536971     37446 2010-12-03 13:40:00  Poland
 6611      536971     37448 2010-12-03 13:40:00  Poland
 6612      536971     21700 2010-12-03 13:40:00  Poland
 ...          ...       ...                 ...     ...
 438958    574343     23395 2011-11-04 10:11:00  Poland
 438959    574343     23396 2011-11-04 10:11:00  Poland
 438960    574343     23393 2011-11-04 10:11:00  Poland
 438961    574343     22481 2011-11-04 10:11:00  Poland
 438962    574343     16016 2011-11-04 10:11:00  Poland

 [330 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate   Country
 7134      536990     21992 2010-12-03 15:14:00  Portugal
 7135      536990     22383 2010-12-03 15:14:00  Portugal
 7136      536990     20728 2010-12-03 15:14:00  Portugal
 7137      536990     20658 2010-12-03 15:14:00  Portugal
 7138      536990     20669 2010-12-03 15:14:00  Portugal
 ...          ...       ...                 ...       ...
 535045    581182     22366 2011-12-07 15:56:00  Portugal
 535046    581182     22690 2011-12-07 15:56:00  Portugal
 535047    581182     22692 2011-12-07 15:56:00  Portugal
 535048    581182      POST 2011-12-07 15:56:00  Portugal
 535049    581182     23108 2011-12-07 15:56:00  Portugal

 [1501 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 7214      537022     22791 2010-12-03 15:45:00   Italy
 7215      537022     21287 2010-12-03 15:45:00   Italy
 7216      537022     79337 2010-12-03 15:45:00   Italy
 7217      537022     85111 2010-12-03 15:45:00   Italy
 7218      537022     85038 2010-12-03 15:45:00   Italy
 ...          ...       ...                 ...     ...
 529689    580746     22846 2011-12-06 09:35:00   Italy
 529690    580746     22667 2011-12-06 09:35:00   Italy
 529691    580746     48138 2011-12-06 09:35:00   Italy
 529692    580746     22627 2011-12-06 09:35:00   Italy
 529693    580746     22720 2011-12-06 09:35:00   Italy

 [758 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 7279      537026     84375 2010-12-03 16:35:00  Belgium
 7280      537026     21217 2010-12-03 16:35:00  Belgium
 7281      537026     21212 2010-12-03 16:35:00  Belgium
 7282      537026     21977 2010-12-03 16:35:00  Belgium
 7283      537026     22417 2010-12-03 16:35:00  Belgium
 ...          ...       ...                 ...      ...
 541194    581493     23204 2011-12-09 10:10:00  Belgium
 541195    581493     21108 2011-12-09 10:10:00  Belgium
 541196    581493     22252 2011-12-09 10:10:00  Belgium
 541197    581493     22807 2011-12-09 10:10:00  Belgium
 541198    581493      POST 2011-12-09 10:10:00  Belgium

 [2031 rows x 4 columns],
       InvoiceNo StockCode         InvoiceDate    Country
 7986     537081     22409 2010-12-05 12:00:00  Lithuania
 7987     537081     21915 2010-12-05 12:00:00  Lithuania
 7988     537081   15056BL 2010-12-05 12:00:00  Lithuania
 7989     537081    15056N 2010-12-05 12:00:00  Lithuania
 7990     537081     20679 2010-12-05 12:00:00  Lithuania
 7991     537081     20686 2010-12-05 12:00:00  Lithuania
 7992     537081     20682 2010-12-05 12:00:00  Lithuania
 7993     537081     20681 2010-12-05 12:00:00  Lithuania
 7994     537081     21429 2010-12-05 12:00:00  Lithuania
 7995     537081     21914 2010-12-05 12:00:00  Lithuania
 7996     537081     22273 2010-12-05 12:00:00  Lithuania
 7997     537081     22306 2010-12-05 12:00:00  Lithuania
 7998     537081     22307 2010-12-05 12:00:00  Lithuania
 7999     537081     22300 2010-12-05 12:00:00  Lithuania
 8000     537081     22301 2010-12-05 12:00:00  Lithuania
 8001     537081     22554 2010-12-05 12:00:00  Lithuania
 8002     537081     22553 2010-12-05 12:00:00  Lithuania
 8003     537081     22551 2010-12-05 12:00:00  Lithuania
 8004     537081     22568 2010-12-05 12:00:00  Lithuania
 8005     537081     20967 2010-12-05 12:00:00  Lithuania
 8006     537081     22569 2010-12-05 12:00:00  Lithuania
 8007     537081     22940 2010-12-05 12:00:00  Lithuania
 8008     537081     22750 2010-12-05 12:00:00  Lithuania
 8009     537081     22751 2010-12-05 12:00:00  Lithuania
 8010     537081    85114B 2010-12-05 12:00:00  Lithuania
 8011     537086     20967 2010-12-05 12:01:00  Lithuania
 8012     537086     22271 2010-12-05 12:01:00  Lithuania
 8013     537086     22569 2010-12-05 12:01:00  Lithuania
 8014     537086     22750 2010-12-05 12:01:00  Lithuania
 8015     537086     22751 2010-12-05 12:01:00  Lithuania
 8016     537086     21429 2010-12-05 12:01:00  Lithuania
 8017     537086    85206A 2010-12-05 12:01:00  Lithuania
 8018     537086     22021 2010-12-05 12:01:00  Lithuania
 8019     537090     21915 2010-12-05 12:02:00  Lithuania
 19025    537827     22145 2010-12-08 14:43:00  Lithuania,
        InvoiceNo StockCode         InvoiceDate Country
 9783      537218     85016 2010-12-05 15:46:00   Japan
 9784      537218     21506 2010-12-05 15:46:00   Japan
 9785      537218     22716 2010-12-05 15:46:00   Japan
 9786      537218     22983 2010-12-05 15:46:00   Japan
 9787      537218     22030 2010-12-05 15:46:00   Japan
 ...          ...       ...                 ...     ...
 475874    576923     21217 2011-11-17 10:52:00   Japan
 475875    576923     23493 2011-11-17 10:52:00   Japan
 475876    576923     23494 2011-11-17 10:52:00   Japan
 475877    576923     23380 2011-11-17 10:52:00   Japan
 511421    579498     23084 2011-11-29 15:52:00   Japan

 [321 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 14938     537626     85116 2010-12-07 14:57:00  Iceland
 14939     537626     22375 2010-12-07 14:57:00  Iceland
 14940     537626     71477 2010-12-07 14:57:00  Iceland
 14941     537626     22492 2010-12-07 14:57:00  Iceland
 14942     537626     22771 2010-12-07 14:57:00  Iceland
 ...          ...       ...                 ...      ...
 535010    581180     20719 2011-12-07 15:52:00  Iceland
 535011    581180     21265 2011-12-07 15:52:00  Iceland
 535012    581180     23271 2011-12-07 15:52:00  Iceland
 535013    581180     23506 2011-12-07 15:52:00  Iceland
 535014    581180     23508 2011-12-07 15:52:00  Iceland

 [182 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate          Country
 20000     538002     22690 2010-12-09 11:48:00  Channel Islands
 20001     538002     21955 2010-12-09 11:48:00  Channel Islands
 20002     538002     20685 2010-12-09 11:48:00  Channel Islands
 20003     538002     21523 2010-12-09 11:48:00  Channel Islands
 20004     538002     21169 2010-12-09 11:48:00  Channel Islands
 ...          ...       ...                 ...              ...
 524458    580558     22086 2011-12-05 10:19:00  Channel Islands
 524459    580558     22910 2011-12-05 10:19:00  Channel Islands
 524460    580558     21621 2011-12-05 10:19:00  Channel Islands
 524461    580558     23503 2011-12-05 10:19:00  Channel Islands
 524462    580558     23355 2011-12-05 10:19:00  Channel Islands

 [748 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 20017     538003     22847 2010-12-09 12:05:00  Denmark
 20018     538003     22779 2010-12-09 12:05:00  Denmark
 20019     538003     22331 2010-12-09 12:05:00  Denmark
 20020     538003     22365 2010-12-09 12:05:00  Denmark
 20021     538003     22673 2010-12-09 12:05:00  Denmark
 ...          ...       ...                 ...      ...
 527390    580716     22631 2011-12-05 16:48:00  Denmark
 527391    580716     22630 2011-12-05 16:48:00  Denmark
 527392    580716     22708 2011-12-05 16:48:00  Denmark
 527393    580716     22045 2011-12-05 16:48:00  Denmark
 527394    580716      POST 2011-12-05 16:48:00  Denmark

 [380 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 29732     538826    85123A 2010-12-14 12:58:00  Cyprus
 29733     538826     21031 2010-12-14 12:58:00  Cyprus
 29734     538826     21026 2010-12-14 12:58:00  Cyprus
 29735     538826     21025 2010-12-14 12:58:00  Cyprus
 29736     538826     21032 2010-12-14 12:58:00  Cyprus
 ...          ...       ...                 ...     ...
 479965    577228     37475 2011-11-18 12:07:00  Cyprus
 479966    577228     21528 2011-11-18 12:07:00  Cyprus
 479967    577228     22308 2011-11-18 12:07:00  Cyprus
 479968    577228    51014A 2011-11-18 12:07:00  Cyprus
 479969    577228     21034 2011-11-18 12:07:00  Cyprus

 [614 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 30079     538848    85232B 2010-12-14 13:28:00  Sweden
 34370     539338     84077 2010-12-17 10:54:00  Sweden
 34371     539338     22951 2010-12-17 10:54:00  Sweden
 34372     539338     22417 2010-12-17 10:54:00  Sweden
 34373     539338     21977 2010-12-17 10:54:00  Sweden
 ...          ...       ...                 ...     ...
 492131    578089     23480 2011-11-22 17:02:00  Sweden
 492132    578089     22467 2011-11-22 17:02:00  Sweden
 492133    578089     21731 2011-11-22 17:02:00  Sweden
 492134    578089      POST 2011-11-22 17:02:00  Sweden
 527313    580704     23494 2011-12-05 16:26:00  Sweden

 [451 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 34083     539318     84992 2010-12-16 19:09:00  Finland
 34084     539318     22951 2010-12-16 19:09:00  Finland
 34085     539318     84991 2010-12-16 19:09:00  Finland
 34086     539318     84991 2010-12-16 19:09:00  Finland
 34087     539318     21213 2010-12-16 19:09:00  Finland
 ...          ...       ...                 ...      ...
 520396    580281     23084 2011-12-02 13:15:00  Finland
 520397    580281     23560 2011-12-02 13:15:00  Finland
 520398    580281     21731 2011-12-02 13:15:00  Finland
 520399    580281     20750 2011-12-02 13:15:00  Finland
 520400    580281      POST 2011-12-02 13:15:00  Finland

 [685 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 34293     539330     37449 2010-12-17 09:38:00  Austria
 34294     539330     37446 2010-12-17 09:38:00  Austria
 34295     539330     22962 2010-12-17 09:38:00  Austria
 34296     539330     21428 2010-12-17 09:38:00  Austria
 34297     539330     22113 2010-12-17 09:38:00  Austria
 ...          ...       ...                 ...      ...
 536964    581232   15056BL 2011-12-08 10:26:00  Austria
 536965    581232    15056P 2011-12-08 10:26:00  Austria
 536966    581232     22059 2011-12-08 10:26:00  Austria
 536967    581232     22646 2011-12-08 10:26:00  Austria
 536968    581232      POST 2011-12-08 10:26:00  Austria

 [398 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate  Country
 38313     539500    72802B 2010-12-20 11:02:00  Bahrain
 181140    552449     22693 2011-05-09 13:49:00  Bahrain
 181141    552449     23076 2011-05-09 13:49:00  Bahrain
 181142    552449     23077 2011-05-09 13:49:00  Bahrain
 181143    552449     22890 2011-05-09 13:49:00  Bahrain
 181144    552449     22649 2011-05-09 13:49:00  Bahrain
 181145    552449     22423 2011-05-09 13:49:00  Bahrain
 181146    552449    85040A 2011-05-09 13:49:00  Bahrain
 181147    552449     22699 2011-05-09 13:49:00  Bahrain
 181148    552449     22697 2011-05-09 13:49:00  Bahrain
 181149    552449     22698 2011-05-09 13:49:00  Bahrain
 181150    552449    72802A 2011-05-09 13:49:00  Bahrain
 181151    552449    72802B 2011-05-09 13:49:00  Bahrain
 181152    552449    72802C 2011-05-09 13:49:00  Bahrain
 197371    553900     37449 2011-05-19 17:47:00  Bahrain
 197372    553900     37446 2011-05-19 17:47:00  Bahrain
 197373    553900     22890 2011-05-19 17:47:00  Bahrain
 197374    553900     37450 2011-05-19 17:47:00  Bahrain,
        InvoiceNo StockCode         InvoiceDate Country
 50791     540556     21397 2011-01-10 09:58:00  Israel
 50792     540556     21242 2011-01-10 09:58:00  Israel
 50793     540556     21246 2011-01-10 09:58:00  Israel
 50794     540556     47566 2011-01-10 09:58:00  Israel
 50795     540556     21115 2011-01-10 09:58:00  Israel
 ...          ...       ...                 ...     ...
 376582    569527     82552 2011-10-04 14:53:00  Israel
 376583    569527     21328 2011-10-04 14:53:00  Israel
 376584    569527    16161P 2011-10-04 14:53:00  Israel
 376659    569529    85014B 2011-10-04 14:55:00  Israel
 376660    569529     20682 2011-10-04 14:55:00  Israel

 [295 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate Country
 69007     541932     22699 2011-01-24 11:39:00  Greece
 69008     541932     22697 2011-01-24 11:39:00  Greece
 69009     541932     22957 2011-01-24 11:39:00  Greece
 69010     541932     22720 2011-01-24 11:39:00  Greece
 69011     541932    72760B 2011-01-24 11:39:00  Greece
 ...          ...       ...                 ...     ...
 529771    580752     23389 2011-12-06 09:56:00  Greece
 529772    580752     23390 2011-12-06 09:56:00  Greece
 529773    580752     23108 2011-12-06 09:56:00  Greece
 529774    580752     23254 2011-12-06 09:56:00  Greece
 529775    580752     22899 2011-12-06 09:56:00  Greece

 [145 rows x 4 columns],
        InvoiceNo StockCode         InvoiceDate    Country
 69623     541975     22620 2011-01-24 14:24:00  Hong Kong
 69624     541975    85183B 2011-01-24 14:24:00  Hong Kong
 69625     541975    85183A 2011-01-24 14:24:00  Hong Kong
 69626     541975     16236 2011-01-24 14:24:00  Hong Kong

# Class&Functions Required for Miner Function

## Item Class & MissingDefaultDict Class

In [14]:
from collections import defaultdict,namedtuple,Counter
class missdefaultdict(defaultdict):
	def __missing__(self,key):
		if self.default_factory != None:
			return self.default_factory(key)  
		else:
			raise KeyError(key)
   
class Item():
	def __init__(self,seq,*events):
		self.events= set( )
		self.sequen = seq
		for event in events:
			self.events.add(event)

	def __eq__(self,item2):
		r= (self.sequen== item2.sequen & self.events== item2.events)
		return r
	
	def __repr__(self):
		return self.__dict__.__repr__()


	def __ior__(self,item2):
		self.events |= item2.events
		return self

## Event Tuple

In [17]:
from collections import defaultdict,namedtuple,Counter
Event = namedtuple('Event',['sid' , 'eid'])

## Relative Minsup Function

In [22]:
import math
def relative_minsup(total_invoicenos):
	
    #relative minsup is required as  value depends on size of dataset
	if total_invoicenos >10000:
		minsup = 0.03
	elif 1000 < total_invoicenos <= 10000:
		minsup = 0.05
	elif 100 < total_invoicenos <= 1000:
		minsup = 0.07
	elif 20< total_invoicenos <= 100:
		minsup = 0.2
	elif total_invoicenos <= 20:
		minsup = 0.4
	print(f'  Minsup:{minsup}')
	return math.ceil(minsup*total_invoicenos)

## SingleFrequent Function

In [25]:
def singlefrequentitems(items,support_threshold):
	
	singlefrequent = missdefaultdict(Item)

	for item_name,item in items.items():
		s = len(set([event.sid for event in item.events] ))
		
        #purning infrequent items
		if s >= support_threshold:
			singlefrequent[item_name] = item

	return singlefrequent

## 2-ItemsFrequent Identify Function

In [26]:
def doublefrequentsequence(items,support_threshold):

	#creating a horizontal database to group all items on same sequence
	sequence_db = {}

	for item_name,item in items.items():
		for event in item.events:
			if event.sid not in sequence_db:
				sequence_db[event.sid] = []
			sequence_db[event.sid].append((item_name,event.eid))

	#counter for 2 sequence
	counter = defaultdict(int)
	for sid,sequence in sequence_db.items():
		
        #on same sequence, comparing eids to form seq_two
		for event_index_x,event_x in enumerate(sequence):
			for event_index_y,event_y in enumerate(sequence[event_index_x+1:]):
				#comparing eids
				if event_x[1] <event_y[1]:
					seq_two = tuple([event_x[0], event_y[0]])
				else:
					seq_two = tuple([event_y[0], event_x[0]])
				counter[seq_two] += 1
                
	return {tuple(sorted(seq_two)) for seq_two,counter in counter.items() if counter >= support_threshold}

## Temporal Join Function

In [30]:
def joining_temp(item_x,item_y):
	
	join_result = missdefaultdict(Item)

	for eindex_x,event_x in enumerate(item_x.events):
		for eindex_y,event_y in enumerate(item_y.events):

			#join on same sequenceId
			if event_x.sid == event_y.sid:

				sid = event_y.sid
				superseqs = tuple()
				superseqs_events = tuple()

				#for joining a sequence , the previous sequence eid must be less than the adding sequence eid
				if event_x.eid > event_y.eid:
					#add the seqeuence with less eid first and eid of supersequence has to be the larger eid
					superseq = item_y.sequen + tuple([item_x.sequen[-1]])
					superseq_event = Event(sid,event_x.eid)
					join_result[superseq] |= Item(superseq,superseq_event)

				elif event_x.eid < event_y.eid:
					superseq = item_x.sequen + tuple([item_y.sequen[-1]])
					superseq_event = Event(sid,event_y.eid)
					join_result[superseq] |= Item(superseq,superseq_event)


					#if event occur on same sequence,eid then join last item of the sequnceitem set to other
				elif item_x.sequen[-1] != item_y.sequen[-1]:
					superseq_event = Event(sid,event_y.eid)
				
					superseq_x = item_x.sequen[:-1]+tuple(
										sorted(set(
											tuple([item_x.sequen[-1]])+ tuple([item_y.sequen[-1]])
											))
										)

					join_result[superseq_x] |= Item(superseq_x,superseq_event)

					superseq_y = item_y.sequen[:-1] + tuple(
										sorted(set(
											tuple([item_x.sequen[-1]])+ tuple([item_y.sequen[-1]])
											))
										)
					
					#if both sequences are dame, add only once
					if superseq_y != superseq_x:
						join_result[superseq_y] |=Item(superseq_y,superseq_event)
	return join_result

## EnumerateFrequent Function

In [31]:
def enumerate_frequent_sequence(items,support_threshold):
	
	
	frequent_items =missdefaultdict(Item)
	seq_list=list(items.keys())
	for item_index_x,seq_x in enumerate(seq_list):
			
		frequent_items_inner=missdefaultdict(Item)

		for item_index_y,seq_y in enumerate(seq_list[item_index_x+1:]):
			join = joining_temp(items[seq_x],items[seq_y])
			
			#purning infrequent sequence
			for sequence,item in join.items():
				s = len(set([event.sid for event in item.events]))
				if s >= support_threshold:
					frequent_items_inner[sequence] |= item

		#adding inner frequent sequence to frequent list
		for sequence,item in frequent_items_inner.items():
			frequent_items[sequence] |= item
		
        #recursive call for function form n+1 sequence form n sequence
		for sequence,item in enumerate_frequent_sequence(frequent_items_inner,support_threshold).items():
			frequent_items[sequence] |= item 

	return frequent_items

# Miner Function

In [32]:
def sequential_mining(vertical_data,total_unique_invoicenos):
	
	if total_unique_invoicenos > 2:
		support_threshold = relative_minsup(total_unique_invoicenos)
	else:
		support_threshold = 2
	print(f'  Support_threshold: {support_threshold}')
	items = missdefaultdict(Item)
	
    #from vertical data lets make individual items
	for sid,eid,elements in vertical_data:
		for element in elements:
			items[tuple([element])] |= Item(tuple([element]),Event(sid,eid))
	print(f'  Total items: {len(items)}')
	
	#finding for 1-candidate frequent items
	items_len1 = singlefrequentitems(items,support_threshold)
	print(f'  Single frequent: {len(items_len1)}')
	
	#finding 2-candidate frequent items
	frequent_sequence_2 = doublefrequentsequence(items_len1,support_threshold)
	
	#creating Item class for frequent 2-items by joining the sequence 
	items_len2 = missdefaultdict(Item)
	for seq_two in frequent_sequence_2:
		#joining the seqeunce
		join_seq = joining_temp(items[seq_two[0]] , items[seq_two[1]])
		
		for seq,item in join_seq.items():
			s = len(set([event.sid for event in item.events]))
			if s>= support_threshold:
				items_len2[seq] |= item
	print(f'  Doublefrequent: {len(items_len2)}')
	
	#finding and creating Item class for all further sequences
	#enumerate frequent sequence recursivly to create n+1 sequence from n sequence
	frequent_items = enumerate_frequent_sequence(items_len2,support_threshold)

	for sequence,item in items_len1.items():
		frequent_items[sequence] |= item
	for sequence,item in items_len2.items():
		frequent_items[sequence] |= item
	return frequent_items

# Convertion to Vertical Format and call miner on country_Data

In [33]:
country_sequence_count={}
for country_data in country_bucket:
	country_name = country_data['Country'].unique()[0]
	print(f'Country: {country_name} is processing')
	unique_invoiceno = country_data['InvoiceNo'].nunique()
	country_sequence_count[country_name]=unique_invoiceno
	if unique_invoiceno == 1:
		print('  Only one Sequence present- no sufficent data')
		continue
	timegroup = country_data.groupby('InvoiceDate')
	time =1
	
    #create vertical format for a country
	vertical_data = []
	for t,t_group in timegroup:
		invoiceno_group = t_group.groupby('InvoiceNo')
		for invoiceno,group in invoiceno_group:
			invoice_items = group['StockCode'].values.tolist()
			seqrow = [invoiceno,time] + invoice_items
			vertical_data.append(tuple([seqrow[0],seqrow[1],tuple(seqrow[2:])]))
		time += 1
	
    #call mining function
	print(f'  Total_invoicenos: {unique_invoiceno}')
	frequent_items = sequential_mining(vertical_data,unique_invoiceno) 
	
    sequence_support={} 
	for item_name,item in frequent_items.items():
		if(len(item_name) >= 2):
			sequence_support[item_name] = len(item.events)
	if len(sequence_support) != 0:
		visualization = pd.DataFrame(sequence_support.items(),columns=['Sequence','Support Count'])
		print(visualization)
	print("-------------------------------------------------------------------------------")

Country: United Kingdom is processing
  Total_invoicenos: 20122
  Minsup:0.03
  Support_threshold: 604
  Total items: 4055
  Single frequent: 107
  Doublefrequent: 5
          Sequence  Support Count
0  (21931, 85099B)            697
1   (22697, 22699)            701
2  (22411, 85099B)            657
3  (22386, 85099B)            784
4   (20725, 20727)            607
-------------------------------------------------------------------------------
Country: France is processing
  Total_invoicenos: 392
  Minsup:0.07
  Support_threshold: 28
  Total items: 1542
  Single frequent: 43
  Doublefrequent: 41
                       Sequence  Support Count
0          (22554, 22556, POST)             33
1          (22554, 22554, POST)             33
2          (22551, 22554, POST)             33
3          (22726, 22727, POST)             28
4          (21080, 21094, POST)             33
5          (21094, 21094, POST)             41
6         (21080, 21086, 21094)             39
7          (21086, 21094, POST)             40
8   (21080, 21094, 21094, POST)             32
9   (21080, 21086, 21094, POST)             32
10  (21094, 21094, 21094, POST)             32
11  (21086, 21094, 21094, POST)             32
12         (22551, 22556, POST)             29
13         (22556, 22556, POST)             41
14         (21094, 21086, POST)             32
15         (21080, 21086, POST)             33
16        (21086, 21086, 21094)             39
17         (21086, 21086, POST)             33
18  (21086, 21086, 21094, POST)             32
19                (22352, POST)             45
20               (85099B, POST)             32
21                (22554, POST)             54
22                (22630, POST)             29
23                (22726, POST)             33
24                (20712, POST)             30
25                (21731, POST)             62
26               (21080, 21094)             40
27                (20724, POST)             32
28                (22328, POST)             37
29                (20725, POST)             48
30                (22551, POST)             45
31                (22027, POST)             35
32                (22090, POST)             28
33               (22551, 22556)             35
34                (22492, POST)             32
35                (22423, POST)             41
36               (22554, 22556)             40
37                (21094, POST)             42
38               (22551, 22554)             41
39                (22382, POST)             36
40                (21559, POST)             45
41                (21212, POST)             33
42               (22726, 22727)             31
43                (20726, POST)             40
44                (22629, POST)             38
45               (21080, 21086)             40
46               (21086, 21094)             48
47                (22556, POST)             58
48                (23209, POST)             28
49                (20750, POST)             45
50                (23084, POST)             65
51                (22728, POST)             35
52                (22727, POST)             34
53               (22727, 22728)             29
54                (21080, POST)             43
55               (22726, 22728)             29
56                (21086, POST)             46
57                (23206, POST)             41
58               (22629, 22630)             28
59                (22326, POST)             58
-------------------------------------------------------------------------------
Country: Australia is processing
  Total_invoicenos: 57
  Minsup:0.2
  Support_threshold: 12
  Total items: 599
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Netherlands is processing
  Total_invoicenos: 95
  Minsup:0.2
  Support_threshold: 19
  Total items: 783
  Single frequent: 4
  Doublefrequent: 1
         Sequence  Support Count
0  (22629, 22630)             21
-------------------------------------------------------------------------------
Country: Germany is processing
  Total_invoicenos: 457
  Minsup:0.07
  Support_threshold: 32
  Total items: 1665
  Single frequent: 24
  Doublefrequent: 15
                Sequence  Support Count
0   (22326, 22328, POST)             57
1   (22328, 22328, POST)             57
2          (22551, POST)             46
3          (22629, POST)             42
4          (22554, POST)             54
5          (20719, POST)             53
6          (22961, POST)             34
7          (20712, POST)             40
8         (22326, 22328)             60
9          (21731, POST)             37
10         (22423, POST)             55
11         (22556, POST)             46
12         (22328, POST)             69
13         (22077, POST)             42
14        (22326, 22629)             32
15         (22326, POST)            103
16        (22326, 22554)             34
-------------------------------------------------------------------------------
Country: Norway is processing
  Total_invoicenos: 36
  Minsup:0.2
  Support_threshold: 8
  Total items: 591
  Single frequent: 4
  Doublefrequent: 2
        Sequence  Support Count
0  (22720, POST)             10
1  (22423, POST)              8
-------------------------------------------------------------------------------
Country: EIRE is processing
  Total_invoicenos: 288
  Minsup:0.07
  Support_threshold: 21
  Total items: 1968
  Single frequent: 29
  Doublefrequent: 7
                 Sequence  Support Count
0   (22697, 22697, 22699)             25
1   (22423, 22697, 22699)             25
2   (22697, 22698, 22699)             25
3   (22698, 22698, 22699)             25
4          (22699, 23174)             21
5          (22697, 22699)             33
6          (22423, 23174)             21
7          (22423, 22699)             32
8          (22698, 22699)             27
9          (22423, 22697)             25
10         (22697, 22698)             26
-------------------------------------------------------------------------------
Country: Switzerland is processing
  Total_invoicenos: 54
  Minsup:0.2
  Support_threshold: 11
  Total items: 978
  Single frequent: 9
  Doublefrequent: 2
         Sequence  Support Count
0   (22326, POST)             12
1  (22551, 22554)             13
-------------------------------------------------------------------------------
Country: Spain is processing
  Total_invoicenos: 90
  Minsup:0.2
  Support_threshold: 18
  Total items: 1091
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Poland is processing
  Total_invoicenos: 19
  Minsup:0.4
  Support_threshold: 8
  Total items: 204
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Portugal is processing
  Total_invoicenos: 58
  Minsup:0.2
  Support_threshold: 12
  Total items: 706
  Single frequent: 5
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Italy is processing
  Total_invoicenos: 38
  Minsup:0.2
  Support_threshold: 8
  Total items: 473
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Belgium is processing
  Total_invoicenos: 98
  Minsup:0.2
  Support_threshold: 20
  Total items: 777
  Single frequent: 5
  Doublefrequent: 4
        Sequence  Support Count
0  (22326, POST)             38
1  (22630, POST)             23
2  (22328, POST)             21
3  (22629, POST)             23
-------------------------------------------------------------------------------
Country: Lithuania is processing
  Total_invoicenos: 4
  Minsup:0.4
  Support_threshold: 2
  Total items: 29
  Single frequent: 6
  Doublefrequent: 10
                        Sequence  Support Count
0          (22569, 22750, 22751)              2
1          (20967, 22750, 22751)              2
2          (21429, 22750, 22751)              2
3          (22750, 22750, 22751)              2
4          (22569, 21429, 22750)              2
5          (20967, 21429, 22750)              2
6          (22569, 22569, 22750)              2
7          (20967, 22569, 22750)              2
8          (21429, 22569, 22750)              2
9   (22569, 22750, 22750, 22751)              2
10  (22569, 21429, 22750, 22751)              2
11  (20967, 21429, 22750, 22751)              2
12  (22569, 22569, 22750, 22751)              2
13  (20967, 22569, 22750, 22751)              2
14  (21429, 22569, 22750, 22751)              2
15  (20967, 22750, 22750, 22751)              2
16  (21429, 22750, 22750, 22751)              2
17  (22750, 22750, 22750, 22751)              2
18         (20967, 21429, 22751)              2
19         (20967, 22569, 22751)              2
20         (21429, 22569, 22751)              2
21         (21429, 21429, 22750)              2
22  (21429, 21429, 22750, 22751)              2
23         (21429, 21429, 22751)              2
24         (22750, 21429, 22751)              2
25         (22750, 22569, 22751)              2
26         (20967, 21429, 22569)              2
27         (21429, 21429, 22569)              2
28         (22569, 21429, 22751)              2
29  (20967, 21429, 22569, 22751)              2
30  (22569, 21429, 22569, 22751)              2
31  (21429, 21429, 22569, 22751)              2
32         (22569, 22569, 22751)              2
33                (22569, 22750)              2
34                (20967, 22751)              2
35                (21429, 22750)              2
36                (21429, 22751)              2
37                (22750, 22751)              2
38                (20967, 22750)              2
39                (20967, 21429)              2
40                (20967, 22569)              2
41                (21429, 22569)              2
42                (22569, 22751)              2
-------------------------------------------------------------------------------
Country: Japan is processing
  Total_invoicenos: 19
  Minsup:0.4
  Support_threshold: 8
  Total items: 215
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Iceland is processing
  Total_invoicenos: 7
  Minsup:0.4
  Support_threshold: 3
  Total items: 103
  Single frequent: 22
  Doublefrequent: 79
                   Sequence  Support Count
0     (21731, 22196, 22423)              3
1     (22375, 22196, 22423)              3
2     (21731, 22196, 22375)              3
3     (22196, 22196, 22375)              3
4     (22196, 22196, 22423)              3
...                     ...            ...
2104         (20719, 84991)              3
2105        (47559B, 84992)              3
2106         (21791, 22375)              3
2107        (22423, 47559B)              3
2108         (22374, 22375)              3

[2109 rows x 2 columns]
-------------------------------------------------------------------------------
Country: Channel Islands is processing
  Total_invoicenos: 26
  Minsup:0.2
  Support_threshold: 6
  Total items: 430
  Single frequent: 4
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Denmark is processing
  Total_invoicenos: 18
  Minsup:0.4
  Support_threshold: 8
  Total items: 251
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Cyprus is processing
  Total_invoicenos: 16
  Minsup:0.4
  Support_threshold: 7
  Total items: 498
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Sweden is processing
  Total_invoicenos: 36
  Minsup:0.2
  Support_threshold: 8
  Total items: 261
  Single frequent: 1
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Finland is processing
  Total_invoicenos: 41
  Minsup:0.2
  Support_threshold: 9
  Total items: 458
  Single frequent: 2
  Doublefrequent: 1
         Sequence  Support Count
0  (84997D, POST)             10
-------------------------------------------------------------------------------
Country: Austria is processing
  Total_invoicenos: 17
  Minsup:0.4
  Support_threshold: 7
  Total items: 306
  Single frequent: 1
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Bahrain is processing
  Total_invoicenos: 3
  Minsup:0.4
  Support_threshold: 2
  Total items: 16
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Israel is processing
  Total_invoicenos: 8
  Minsup:0.4
  Support_threshold: 4
  Total items: 254
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Greece is processing
  Total_invoicenos: 5
  Minsup:0.4
  Support_threshold: 2
  Total items: 138
  Single frequent: 6
  Doublefrequent: 15
                  Sequence  Support Count
0    (23155, 23155, 23159)              2
1    (21700, 23155, 23159)              2
2    (23155, 23154, 23159)              2
3    (22922, 23154, 23159)              2
4    (21700, 23154, 23159)              2
..                     ...            ...
155         (22922, 23155)              2
156         (23154, 23159)              2
157          (23154, POST)              2
158         (21700, 22922)              2
159         (23154, 23155)              2

[160 rows x 2 columns]
-------------------------------------------------------------------------------
Country: Hong Kong is processing
  Total_invoicenos: 11
  Minsup:0.4
  Support_threshold: 5
  Total items: 191
  Single frequent: 2
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Singapore is processing
  Total_invoicenos: 7
  Minsup:0.4
  Support_threshold: 3
  Total items: 178
  Single frequent: 7
  Doublefrequent: 15
                  Sequence  Support Count
0    (21181, 48138, 85150)              3
1    (22197, 48138, 85150)              3
2    (20685, 48138, 85150)              3
3    (21181, 22343, 48138)              3
4    (22197, 22343, 48138)              3
..                     ...            ...
139         (22197, 48138)              3
140         (22343, 85150)              3
141         (20685, 48138)              3
142         (20685, 22197)              3
143         (48138, 85150)              3

[144 rows x 2 columns]
-------------------------------------------------------------------------------
Country: Lebanon is processing
  Only one Sequence present- no sufficent data
Country: United Arab Emirates is processing
  Total_invoicenos: 3
  Minsup:0.4
  Support_threshold: 2
  Total items: 68
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Saudi Arabia is processing
  Only one Sequence present- no sufficent data
Country: Czech Republic is processing
  Total_invoicenos: 2
  Support_threshold: 2
  Total items: 25
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Canada is processing
  Total_invoicenos: 6
  Minsup:0.4
  Support_threshold: 3
  Total items: 147
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Unspecified is processing
  Total_invoicenos: 13
  Minsup:0.4
  Support_threshold: 6
  Total items: 344
  Single frequent: 0
  Doublefrequent: 0
-------------------------------------------------------------------------------
Country: Brazil is processing
  Only one Sequence present- no sufficent data
Country: USA is processing
  Total_invoicenos: 5
  Minsup:0.4
  Support_threshold: 2
  Total items: 163
  Single frequent: 16
  Doublefrequent: 29
                   Sequence  Support Count
0    (22720, 47590B, 84987)              2
1    (22989, 47590B, 84987)              2
2     (22720, 22989, 84987)              2
3     (21123, 21124, 22734)              2
4     (21123, 22734, 23513)              2
..                      ...            ...
289          (21122, 21123)              2
290         (22720, 47590B)              2
291          (21123, 23513)              2
292          (21123, 23293)              2
293          (21122, 23293)              2

[294 rows x 2 columns]
-------------------------------------------------------------------------------
Country: European Community is processing
  Total_invoicenos: 4
  Minsup:0.4
  Support_threshold: 2
  Total items: 50
  Single frequent: 9
  Doublefrequent: 16
                  Sequence  Support Count
0    (22840, 22841, 22842)              2
1    (22841, 22841, 22842)              2
2    (22840, 22841, 22843)              2
3    (22841, 22841, 22843)              2
4    (22314, 22841, 22842)              2
..                     ...            ...
126         (22840, 22843)              2
127         (22314, 22840)              2
128         (22312, 22314)              2
129         (22312, 22841)              2
130         (22312, 22843)              2

[131 rows x 2 columns]
-------------------------------------------------------------------------------
Country: Malta is processing
  Total_invoicenos: 5
  Minsup:0.4
  Support_threshold: 2
  Total items: 99
  Single frequent: 11
  Doublefrequent: 31
                     Sequence  Support Count
0       (72741, 72807A, POST)              2
1     (72741, 72807A, 72807B)              2
2      (72807B, 72807A, POST)              2
3    (72807A, 72807A, 72807B)              2
4      (72807A, 72807A, POST)              2
..                        ...            ...
505          (72807A, 72807B)              2
506            (22067, 72741)              2
507            (72807A, POST)              2
508            (22767, 22796)              2
509           (37449, 72807C)              2

[510 rows x 2 columns]
-------------------------------------------------------------------------------
Country: RSA is processing
  Only one Sequence present- no sufficent data